<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
    <header th:replace="~{fragments :: header}"></header>
    <div id="admin-bar">
        <div class="nav">
            <a class="navlink" href="/artworks/add">Add Artwork</a>
        </div>
    </div>
    <main>
        <h2>ARTWORKS</h2>
        <p th:unless="${artworksList} and ${artworksList.size()}">
            <em>No artwork to display</em>
        </p>
        <th:block th:if="${artworksList} and ${artworksList.size()}">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                    </tr>
                </thead>
                <tr th:each="artwork: ${artworksList}">
                    <td th:text="${artwork}"></td>
                </tr>
            </table>
        </th:block>
    </main>

</body>
</html>
