<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
    <header th:replace="~{fragments :: header}"></header>
    <div id="admin-bar">
        <div class="nav">
            <a class="navlink" href="/artworks/add">Add Artwork</a>
            <a class="navlink" href="/artworks/delete">Delete Artwork</a>
        </div>
    </div>
    <main>
        <h2>ARTWORKS</h2>
        <p th:unless="${artworksList} and ${artworksList.size()}">
            <em>No artwork to display</em>
        </p>
        <th:block th:if="${artworksList} and ${artworksList.size()}">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Artist</th>
                        <th>Year Created</th>
                        <th>Media</th>
                        <th>Style</th>
                        <th>Image</th>
                    </tr>
                </thead>
                <tr th:each="artwork: ${artworksList}">
                    <td th:text="${artwork.id}"></td>
                    <td th:text="${artwork.title}"></td>
                    <td th:text="${artwork.artist}"></td>
                    <td th:text="${artwork.yearCreated}"></td>
                    <td th:text="${artwork.media}"></td>
                    <td th:text="${artwork.style.displayName}"></td>
                    <td>
                        <a th:href="${'https://drive.google.com/uc?export=view&id=' + artwork.imageId}" target="_blank">
                            <img th:src="${'https://drive.google.com/uc?export=view&id=' + artwork.imageId}" width="50px" />
                        </a>
                    </td>
                </tr>
            </table>
        </th:block>
    </main>

</body>
</html>
